.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    background-color: lightpink;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box{
    height: 40px;
    border: 1px solid green;
    width: 33%;
}

.center,
.space-around,
.space-between,
.end {
    display: flex;
    margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box {
    width: 50px;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
    
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

/* center */

.align-center,
.align-end,
.stretch {
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid red;
}

.align-center .box,
.align-end .box,
.stretch .box {
    width: 50px;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.stretch .box {
    /* align-items: stretch; */
    height: auto;
    
}

.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid violet;
    padding: 10px;
    gap: 10px;
}
.gap .box{
    width: 32%;

}

.order {
    display: flex;
}

#three{
    order: 3;
}

#one{
    order: 1;
}

#two{
    order: 2;
}

.grow {
    display: flex;
}

.grow .box {
    flex: 1;
}

.grow .big {
    flex: 2;
}

.basis {
    display: flex;
}

.basis .box {
    flex-basis: 20px;
}

.basis .big {
    flex-grow: 1;
}

.shrink {
    display: flex;
    border: 2px solid #ccc;
    padding: 10px;
    gap: 10px;
}

.shrink .box {
    background-color: aquamarine;
    height: 100px;
    flex-grow: 1;
    flex-basis: 250px;
    flex-shrink: 1;
    width: auto;
}

.shrink .small {
    flex-shrink: 2;
    background-color: crimson;
}

.shorthand {
    display: flex;
    border: 2px solid #ccc;
    padding: 10px;
    gap: 10px;
}

.shorthand .box {
    background-color: lightgreen;
    height: 100px;
    width: auto;
    flex: 1 1 50px;
}

.shorthand .different {
    background-color: lightcoral;
    flex: 3 1 400px;
}

.auto-alignment {
    display: flex;
    height: 300px;
    align-items: flex-end;
    border: 1px solid blue;
}

.auto-alignment .different {
    align-self: center;
}